[2015-12-17 01:56] uetchy opened #1 "Translation service"
Checkout https://github.com/soimort/translate-shell/blob/develop/include/Translate.awk#L64

[2016-01-25 14:47] uetchy commented on #1
Fixed

[2016-01-25 14:47] #1 closed

[2016-01-26 11:29] uetchy opened #2 "Show error messages on popup panel"

[2016-01-26 11:30] uetchy opened #3 "Show progress indicator"

[2016-01-26 15:32] #3 closed

[2016-01-26 15:32] #2 closed

[2016-08-23 06:15] uetchy opened #9 "Replace Google Translation with another free translation APIs"

[2016-08-25 12:06] tundo91 opened #10 "Google Translate API has a different UI now, update the guide "How to obtain Google Cloud Platform API key""

[2016-08-28 06:10] uetchy commented on #10
Thank you for feedback.
Now we don't need to care about API key since [v1.2.0](https://github.com/uetchy/Polyglot/releases/tag/v1.2.0).

[2016-08-28 06:11] uetchy commented on #9
https://github.com/uetchy/Polyglot/releases/tag/v1.2.0

[2016-08-28 06:11] #9 closed

[2016-09-06 20:26] mallowigi opened #11 "Change shortcut"
Hi,

The extension is very helpful, however the key shortcut choices are pretty limited (I use sometimes and it prevents the default behavior)

Is there a way to change it to something of our choice? Thanks

[2016-09-07 11:29] uetchy commented on #11
Thank you for your feedback.
I'm currently working on this issue!

<img width="535" alt="screen shot 2016-09-07 at 8 28 33 pm" src="https://cloud.githubusercontent.com/assets/431808/18310514/c4b3d02a-7539-11e6-97c0-18d85f949c80.png">

[2016-09-07 11:31] #10 closed

[2016-09-07 11:48] #11 closed

[2016-09-07 12:01] uetchy commented on #11
See [v2.0.0](https://github.com/uetchy/Polyglot/releases/tag/v2.0.0) :tada:

[2016-11-21 17:43] mcxnet opened #14 "No translation, loading infinitely"
![screenshot_translate-ext](https://cloud.githubusercontent.com/assets/8062159/20493654/0a504436-b01a-11e6-95b5-188832980fa1.png)

If I try to translate something, in the popup view me the loading infinitely (see above screenshot).
Do you have a fix about it?
Thanks.

[2016-11-22 11:13] uetchy commented on #14
Could you show me development console log? It'll be so helpful.

[2016-11-22 17:11] mcxnet commented on #14
The development console log is empty.
Is it necessary set an API for Google Cloud Platform? Now, I haven't insert anything (FYI, the guide in the wiki section has the the images/screenshots broken).
Thanks.

[2016-11-23 07:38] uetchy commented on #14
You don't need set an API key so it's merely buggy behaviour.
Tell me the websites url which cause infinity loading?
I'll dig into them.

[2016-11-23 08:38] mcxnet commented on #14
Unfortunately not works with all websites.
I've tried to disable all other safari extensions (to avoid conflict), I've changed the language (from default japanese to italian/french etc.) but... nothing to do.
I'm using the last version of macOS (10.12.1) and Safari (10.0.1).

[2016-11-23 08:41] uetchy commented on #14
It seems Polyglot in Safari Extension Gallery is outdated. (latest version is 2.0.1)
Have you tried latest version of Polyglot?

https://github.com/uetchy/Polyglot/releases/download/v2.0.1/Polyglot.safariextz

If installation failed, delete previous version and try it again.

[2016-11-23 08:44] mcxnet commented on #14
Yes, the problem is with outdated version of Safari Extension Gallery.
I've installed the GitHub version and now works good.
A last question, for the Polyglot updates is necessary to download them every time from GitHub or Safari update automatically?

[2016-11-23 08:58] uetchy commented on #14
Awesome!
I've already submitted latest version of Polyglot to Safari Extension Gallery and waiting for a response.
Anyway, You can download latest version from GitHub anytime 😄

[2016-11-23 09:17] mcxnet commented on #14
Ok, thanks!

[2016-11-23 09:17] #14 closed

[2016-12-20 04:35] Denages opened #15 "No images on page "How to obtain Google Cloud Platform API key""
Please, repair images on the page "How to obtain Google Cloud Platform API key"

[2016-12-20 04:38] uetchy commented on #15
Thank you for reporting this issue 😄
ICYMI: the latest version of Polyglot no longer requires API key.

https://github.com/uetchy/Polyglot/releases/tag/v2.0.1

[2016-12-21 14:37] uetchy commented on #15
@Denages Is everything OK?

[2016-12-21 16:51] Denages commented on #15
@uetchy  Yes. Thanks a lot. Now I'm using version 2.0.1.

[2016-12-21 16:51] #15 closed

[2017-03-05 05:29] uetchy opened #16 "Keep mathematical symbols as it is"
Handle MathJax code within sentences.

[2017-03-13 21:02] d1monster opened #17 "Keyboard shortcuts doesn't work"
Hello!
In the last Polyglot 2.0.1 keyboard shortcuts, which set up in Safari settings, as well as ` symbol, does not work (Safari 10.0.3, macOS 10.12.3).
Could you please check?

[2017-03-13 21:58] bezvoshchuk commented on #17
Update: just noticed that letter 't' does not work within the display window when extension is turned on.

[2017-03-14 09:21] uetchy commented on #17
Any error message in console log?

[2017-03-14 18:27] bezvoshchuk commented on #17
Letter 'T' began to work after relaunching extension, but keyboard shortcuts still don't work.
No errors or warnings in the console.

[2017-03-15 04:58] uetchy commented on #17
Could you set a keyboard shortcut combined with control or command or whatever meta key?
And tell me if the issue still occurs.

[2017-03-15 05:07] bezvoshchuk commented on #17
Double combining works, in my case Shift+Ctrl+9.
Thanks.

[2017-03-17 12:32] locovna commented on #17
I had same issue, same versions and same solution (bind to Shift+Ctrl+1)
Thanks!

But I notice some errors in console:
(they disappear after binding to another keys)

<img width="1111" alt="screen shot 2017-03-17 at 14 23 36" src="https://cloud.githubusercontent.com/assets/15370225/24043210/344a2298-0b1e-11e7-9a0b-c7111ecc510a.png">
<img width="820" alt="screen shot 2017-03-17 at 14 23 28" src="ht

[2017-04-02 18:43] dankling opened #18 "Polyglot doesn't work with Safari Reader View Mode"
When in Safari's Reader View Mode which turns the background of text-based articles black and the text to white for easier reading, Polyglot does not work. Keyboard shortcut key doesn't work, right-click -> "Translate" does not work, and I don't see any "Translate" button on the toolbar - is it the Polyglot button? If it is, that doesn't do anything either.

Here is a picture of what the address b

[2017-04-03 04:33] uetchy commented on #18
It seems Safari Reader is not accepting Safari Extension inject code.
I have no idea how to solve this issue for now.

[2017-04-14 01:46] wangkesen opened #19 "Is this still active?"
The extension actually doesn't do anything at all for me currently. Running Sierra 10.12.5 Beta 2

[2017-04-14 08:33] uetchy commented on #19
Are there any errors on developer console?

[2017-05-09 05:40] lenk1111 commented on #17
On the shortcut key does not take effect, I found a way, in the preferences - extension, the first unchecked, and then restart Safari

[2017-06-11 07:38] osenvosem commented on #17
The same issue here.
![screen shot 2017-06-11 at 10 37 39](https://user-images.githubusercontent.com/6762673/27009260-1a7ac158-4e92-11e7-86ab-e6d3c84ac011.jpg)

[2017-06-14 09:06] #16 closed

[2017-06-14 09:07] #19 closed

[2017-06-14 09:11] uetchy commented on #17
@osenvosem Would you let me see your extension settings of Polyglot?

[2017-06-15 05:40] osenvosem commented on #17
@uetchy sure.
![screen shot 2017-06-15 at 08 39 40](https://user-images.githubusercontent.com/6762673/27166882-5187ef88-51a6-11e7-8cdb-d03356fff4c3.jpg)

[2017-06-15 07:42] uetchy commented on #17
@osenvosem Did you try some key combination with any special key? (such as Ctrl).
Or you might want to use another key, not 't'.

[2017-06-15 10:10] locovna commented on #17
Maybe you may set required key combination (Ctrl, Command, Shift) to default? To not confuse new users.
Is it possible, @uetchy?

[2017-06-15 13:43] osenvosem commented on #17
@uetchy Only Cmd+Shift+char combinations work. It is better instead/with the combination to use a float button like in the Google Translate extension for Chrome. Also it would be nice if the output more informative, not just a single word, like, again, I is done in the Google's extension.

[2017-07-07 13:50] gingerbeardman opened #20 "Problem when selecting more than just text"
it works if I am careful to only select the text.

![screen shot 2017-07-07 at 14 51 59](https://user-images.githubusercontent.com/49612/27960617-dafee60c-6323-11e7-9012-a88b2d6dae6e.png)

If I select more than the comment text it does not work.

![screen shot 2017-07-07 at 14 54 39](https://user-images.githubusercontent.com/49612/27960734-3bfd7130-6324-11e7-9b40-1550b520569f.png)

https://www.you

[2017-07-07 13:52] gingerbeardman commented on #20
ignore me, it works if I am careful to only select the text.

![screen shot 2017-07-07 at 14 51 59](https://user-images.githubusercontent.com/49612/27960617-dafee60c-6323-11e7-9012-a88b2d6dae6e.png)

If I select more than the comment text (as I did in the first screenshot) it does not work.

[2017-07-20 04:42] japerezf commented on #17
Double combining works, in my case Ctrl+Alt+.
Thanks.

I agree with him

[2017-09-28 10:05] eisenhorn13 opened #21 "Error in injected.entry.js on line 8231"
There is error in injected.entry.js on line 8231:
`var applyKey = settings.keyValue.charCodeAt(0) === e.keyCode;`

It fires any time key pressed.

Polyglot version is 2.0.1 and Safari 11.0 (13604.1.38.1.6).

<img width="1433" alt="2017-09-28 13 04 23" src="https://user-images.githubusercontent.com/17888717/30961027-957ac40a-a44d-11e7-8b69-599df6aef21a.png">

[2017-09-29 01:58] uetchy commented on #21
I have same version of Polyglot and Safari however I couldn't reproduce the error.
What's your keyboard shortcuts settings?

This is my settings FYI:
<img width="535" alt="screen shot 2017-09-29 at 10 55 37" src="https://user-images.githubusercontent.com/431808/30997721-c17da9a2-a504-11e7-8e89-e2ac920e55d7.png">

[2017-09-29 06:54] eisenhorn13 commented on #21
I have same key, but no keyboard modifier and that`s the key.

[2017-09-29 07:19] uetchy commented on #21
It seems weird because I have no issue without keyboard modifiers.
Try to clear __Key__ field and close the settings window, then put a new key to __Key__ again and reload web pages.

[2017-12-03 19:40] harunyasar commented on #17
Any shortcut doesn't work properly. Say I set the 1 as a shortcut when you try to write comment on Facebook it won't work.

[2017-12-04 08:31] uetchy commented on #17
Keyboard shortcuts without meta keys may cause event confliction.
@harunyasar Have you ever tried shortcuts with meta keys and have same issue so?
<img width="551" alt="screen shot 2017-12-04 at 17 27 02" src="https://user-images.githubusercontent.com/431808/33542926-61cc006a-d918-11e7-8a86-e7843ca60700.png">

[2017-12-04 11:29] harunyasar commented on #17
Yeah it does work with some key combinations like cmd+shift+1.

[2017-12-04 20:11] 99sono commented on #21
Hi, this issue appears to be related to:
https://stackoverflow.com/questions/46268576/angular-4-safari-settings-object-without-keyvalue-property-defined

[2017-12-05 01:51] uetchy commented on #21
Updated to v2.1.0
- Suppress errors for invalid keyboard shortcuts

https://github.com/uetchy/Polyglot/releases/tag/v2.1.0

[2017-12-11 12:48] uetchy commented on #21
See [v2.2.0](https://github.com/uetchy/Polyglot/releases/tag/v2.2.0) for fixing this issue.

[2017-12-11 12:48] #21 closed

[2017-12-22 08:27] spn13 commented on #17
Hello.

Version 2.2.0

When keyboard layout is not English (e.x. Russian), shortcut doesn't work. I need It didn't depend on keyboard layout, or add please settings for second shortcut.

[2017-12-22 11:29] uetchy commented on #17
@spn13 Any sample of the Russian keys (and screenshot of the settings if you don't mind)? So we can test it and fix this issue.

[2017-12-22 11:48] spn13 commented on #17
On my keyboard it is "]"
<img width="651" alt="2017-12-22 14 44 44" src="https://user-images.githubusercontent.com/34765794/34297037-b52cc34a-e726-11e7-8af8-342973513506.png">

![img_1622](https://user-images.githubusercontent.com/34765794/34297105-286783f4-e727-11e7-8ce6-859beade5a9d.jpg)

[2017-12-25 08:07] uetchy commented on #17
@spn13 Thanks. In Russian keyboard, can `]` be typed without any special key? If not, Put a check on `Shift` on settings could fix this issue.

[2017-12-25 08:10] uetchy commented on #17
@spn13 Could you access [keycode checker](http://keycode.info/) and type the key you want to configure then tell me what they have shown.

[2017-12-25 12:23] spn13 commented on #17
@uetchy

In English 192 (grave accent / ñ / æ / ö) In Russian 221 (close bracket / å). I want configure for both keys

[2017-12-27 03:59] uetchy commented on #17
@spn13 Thanks. You can use either of the layout of keyboards but unfortunately cannot configure multiple key code point for now.
If you are interested in implementing multiple key code support, please consider to create a pull request!

[2018-02-11 22:47] gingerbeardman opened #23 "Two different Polyglot in Safari Extensions gallery?"
https://safari-extensions.apple.com/?q=polyglot

2.0.1
2.2.0

[2018-02-11 22:57] gingerbeardman commented on #20
YouTube website has changed, so I can no longer reproduce this.

Consider it no longer an issue.

Feel free to close!

[2018-02-11 22:57] #20 closed

[2018-02-11 23:00] gingerbeardman commented on #18
https://developer.apple.com/library/content/documentation/Tools/Conceptual/SafariExtensionGuide/WorkingWiththeReader/WorkingWiththeReader.html

[2018-02-11 23:11] gingerbeardman commented on #17
Key shorcuts no working for me.

I set Cmd+Shift+t but simply pressing t invokes Polyglot.
And then letter t cannot be typed in Safari.

Some double modifier combinations work, but it remains that pressing the key without any modifiers triggers Polyglot.

[2018-02-12 09:14] uetchy commented on #18
@gingerbeardman Thank you for the information!
We can somehow deal with Safari Reader.
I'm digging in this issue (again) on the development branch.

[2018-02-15 11:29] uetchy commented on #23
Thank you for letting me know the duplication problem in the gallery.
I've reported this issue to Apple Support.

[2018-03-31 08:54] AndyDaum opened #24 "Triggers significant javascript error"
Go to tiddlywiki.com and type something in any text entry box to re-create.

That aside, this is fantastically useful to me. Thank you!

[2018-04-01 05:23] uetchy commented on #24
Thank you for the report.
However, I couldn't reproduce your issue on Safari 11.1.
More detail about your situation could clarify what the real problem is.
Console log and/or browser version are usually appropriated👍

[2018-04-01 05:28] uetchy commented on #23
Apple confirmed that this is due to Bundle ID mismatch.
And now the issue has closed.

[2018-04-01 05:28] #23 closed

[2018-06-06 10:48] gingerbeardman commented on #17
Saw this and thought of plolyglot 😨
http://antrikshy.com/blog/safari-extension-development-keyboard-shortcuts

[2018-06-08 06:45] uetchy commented on #17
@gingerbeardman That's just what Polyglot doing!

[2018-06-14 20:18] gingerbeardman commented on #17
@uetchy if so, then why...

[2018-06-15 08:05] uetchy commented on #17
@gingerbeardman Doesn't work in the latest version? If so, would you consider writing a PR for this⚡️ (Currently, I have no much time to delve into this issue)

[2018-06-15 13:36] gingerbeardman commented on #17
I will look into it :)

[2018-06-15 13:40] gingerbeardman commented on #17
Oh! I installed through Apple Safari Extension gallery and no update has been reported. So I am on 2.2.0

I see 2.3.0 is available on your GitHub release page, but it will not install in my Safari. Certificate problem?

[2018-06-15 13:44] gingerbeardman opened #25 "Safari Extension Gallery still listing 2.2.0"
https://safari-extensions.apple.com/details/?id=io.uechi.safari.polyglot-58XDWHK3JX

[2018-06-15 14:33] gingerbeardman commented on #17
Actually, default shortcut Ctrl+` does not work for me.
And Alt+` also does not work for me. Why?

However Cmd+Shift+` works for me so I will stick with that.

[2018-07-21 02:36] z234009184 commented on #17
I had same issue

[2018-07-24 12:48] gingerbeardman opened #26 "Mojave discontinues support for old style extensions"
https://9to5mac.com/2018/06/09/safari-12-extensions-more/

If you do not wish to release the plugin through the App Store, I would be happy to release it for you on my account?

[2018-07-27 05:07] uetchy commented on #26
I'm going to publish the extension on Mac App Store as well.
However, I've already enrolled in the Developer Program so I can publish it myself.
Anyway, I appreciate your gentle request!

[2018-07-27 05:08] #26 closed

[2018-08-05 13:06] uetchy commented on #25
Just submitted v2.4.0 to the gallery :)

[2018-08-05 21:34] gingerbeardman opened #28 "[BUG] Instant translation unexpectedly appearing when selecting text in text fields"
I'm seeing auto-translate appearing when text field are focused on GitHub @isswp101

For example as I am typing this if I double-click a word auto-translate will unexpectedly appear.

![2018-08-05 22_26_46](https://user-images.githubusercontent.com/49612/43690265-45fa888c-98ff-11e8-9263-2952e419aeec.gif)

[2018-08-05 21:36] gingerbeardman opened #29 "[REQ] only translate "foreign" text"
It would be great if the extension only translated "foreign" text

ideas:
- pages that have a different locale than target translation language (or user Safari/macOS locale?)
- if translation output is the same as input

![screen shot 2018-08-05 at 22 35 55](https://user-images.githubusercontent.com/49612/43690296-f26eff9e-98ff-11e8-932b-bc8dfd5a8afc.png)

[2018-08-06 04:51] uetchy commented on #28
This could be suppressed by putting HTML elements constraint on the click handler.
What do you think? @isswp101

[2018-08-06 05:18] uetchy opened #30 "Polyglot 3"
Mac App Store version of Polyglot.

## Current status

Not ready for release. This version of Polyglot is in development on [mas](https://github.com/uetchy/Polyglot/tree/mas).

## Remaining Tasks

- [x] Rewrite global script codebase in Swift
- [x] Rewrite content scripts to communicate with Swift extension handler.
- [x] Toolbar Icon
- [x] Context menu

## Future work
- [x] Synonyms support

[2018-08-06 09:27] isswp101 commented on #28
@uetchy do you mean the text received from `input`, `textarea` and so on should not be translated by click?

[2018-08-06 11:27] isswp101 commented on #29
To implement this we can retrieve the detected language from Google API and check with our `targetLanguage`. But in this case we shouldn't dispatch message `showPanel` with loading icon first. In other words, we first need to translate the text and then decide whether to show the panel or not. Perhaps there is another good solution to determine the language of the selected text on the extension si

[2018-08-07 07:40] gingerbeardman commented on #29
That doesn't solve the problem IMHO.

Maybe an option to switch off language detection for Instant Translation?

[2018-08-08 03:17] #28 closed

[2018-08-08 14:15] isswp101 commented on #29
Using the API to define the language brings a lot of extra network requests.

I think that some kind of shortcut would be a good idea to switch instant translation feature.

[2018-08-08 14:47] gingerbeardman commented on #29
I'm working on this one :)

[2018-08-08 23:29] gingerbeardman commented on #29
Just putting some thoughts down...

If we try to simplify the goal: what do we really want to do?

Check if the language of the text/page is the same as the target language.
We don't actually need to know what it is, Google Translate can figure that out.

[code]

| URL                                           | lang  | characterSet | locale |
| :-------------------------------------------- | :---

[2018-08-09 03:42] uetchy commented on #29
Thank you for the detailed survey!

I think this feature could be shipped if the following issues were solved.
- For English speakers, they may have a problem with translating [Chinese contents in GitHub](https://github.com/Kujiale-Mobile/Painter) because `lang` in their page indicates 'en' and thus Polyglot won't reveal a translation.
- Relating to the above, all web service which provides user-g

[2018-08-09 07:49] gingerbeardman commented on #29
Agreed. This is a difficult problem to solve satisfactorily. I will give it more thought.

[2018-08-11 09:17] protectedMan opened #34 "Manually set Baidu or Google as translation source"
We hope to add this function to increase access speed.

[2018-08-13 11:51] uetchy commented on #34
Multiple translation source would be great. It should be specified in settings panel by dropdown menu.

[2018-08-15 09:33] JayBrown opened #35 "Extension expired / can't install new"
Safari just disabled an older version of the Polyglot extension & moved it to the trash. Trying to install the new one released 10 days ago fails

[2018-08-15 09:52] gingerbeardman commented on #35
Yes, something has gone wrong. I saw the same thing.

<img width="532" alt="screen shot 2018-08-15 at 10 51 16" src="https://user-images.githubusercontent.com/49612/44142799-4b79a4d8-a079-11e8-991f-43f28c9644f0.png">

2.2.0 is still in the Apple Extensions Gallery
https://safari-extensions.apple.com/details/?id=io.uechi.safari.polyglot-58XDWHK3JX

[2018-08-16 02:51] uetchy commented on #34
@isswp101 That's simply amazing! Would you consider filing PR it as multiple translation source feature 👍

[2018-08-16 02:55] uetchy commented on #35
My previous certificate has been revoked :( I'll put newly generated certificate into next release so it will be ok.

[2018-08-16 05:52] protectedMan opened #36 "Unable to install and expand"
<img width="566" alt="image" src="https://user-images.githubusercontent.com/17565737/44190836-1a4ab680-a15b-11e8-903c-e0533a643eee.png">

[2018-08-16 06:03] uetchy commented on #35
[v2.4.1](
https://github.com/uetchy/Polyglot/releases/tag/v2.4.1) hopefully fixes those issue. check it out.

[2018-08-16 06:04] uetchy commented on #36
See #35

[2018-08-16 06:04] #36 closed

[2018-08-16 12:44] gingerbeardman commented on #35
Still a problem  with 2.5.0

<img width="532" alt="screen shot 2018-08-16 at 13 44 23" src="https://user-images.githubusercontent.com/49612/44209163-8bd63500-a15a-11e8-804b-540d62d37c96.png">

[2018-08-16 12:45] protectedMan commented on #35
![image](https://user-images.githubusercontent.com/17565737/44209179-44b96580-a195-11e8-9167-2a532e456b40.png)

[2018-08-16 12:46] gingerbeardman commented on #36
@protectedMan see #35

[2018-08-16 14:25] uetchy commented on #35
You must uninstall the old plugin before installing a new one.

@protectedMan What that message indicates to?

[2018-08-16 14:34] JayBrown commented on #35
2.5.0 is working again! Thank you.

[2018-08-30 23:59] mehmetkoca opened #37 "Polyglot doesn't work on macOS Mojave"
did u check?

[2018-08-31 17:19] gingerbeardman commented on #37
A new version is being prepared.

[2018-09-01 14:56] mehmetkoca commented on #37
thank you.

[2018-09-01 14:56] #37 closed

[2018-09-01 20:29] gingerbeardman commented on #37
See https://github.com/uetchy/Polyglot/issues/30

[2018-09-05 09:46] uetchy commented on #25
Somehow I have no response from Apple. Maybe I'll send a request again 🤔

[2018-09-07 04:43] #25 closed

[2018-09-07 04:44] #35 closed

[2018-09-09 11:28] alseg opened #38 "Pop-up translate always if double-click any word in webpage"
OSX 10.12.6
Safari 11.1.2 (12605.3.8.1)
Polyglot 2.4.0

Issue:
Pop-up translate always if double-click any word in webpage

[2018-09-09 16:46] gingerbeardman commented on #38
There's an option in extension preferences to disable this feature

[2018-09-09 17:16] alseg commented on #38
@gingerbeardman thankyou! this is my fault

[2018-09-09 17:16] #38 closed

[2018-09-21 08:29] iAYMANi opened #39 "Safari 12.0 blocks Polyglot browser extension."
Safari 12.0 blocks Polyglot browser extension. Enable it again in settings is possible, but the slow down warning persists.

[2018-09-21 09:36] gingerbeardman commented on #39
What version of Polyglot are you using? How did you install it?

[2018-09-21 11:44] iAYMANi commented on #39
v.2.5

[2018-09-21 13:22] gingerbeardman commented on #39
I think v2.4 from Apple Extensions Gallery would have survived the transition, but not sure how you can install it on Safari 12?

[2018-09-25 22:53] mdyyyy opened #40 "Translation doesn't pop-up"
Whenever I select a text and click on translate, it just never appeared.
macOS High Sierra
Version 10.13.6
Safari

[2018-10-04 02:04] at-vinhdo opened #41 "`undefined` result"
Sometimes, I try to translate a word, but the result always was `undefined`.
Restarting OS & Browser was ineffective.
I using Safari 11.0.3.

[2018-10-04 09:55] gingerbeardman commented on #41
what version of Polyglot?

[2018-10-04 10:58] at-vinhdo commented on #41
I using v2.4.0

[2018-10-04 13:19] gingerbeardman commented on #41
what are the source and destination languages?

do you have a good network and internet connection?

[2018-10-05 01:40] at-vinhdo commented on #41
I'm want to translate from English to Vietnamese.
my network and internet connection also stables
This error began to appear from about 3 weeks ago

[2018-10-05 08:43] gingerbeardman commented on #41
Thanks for the info!

I can now reproduce the problem and will look into it.

[2018-10-05 09:09] gingerbeardman commented on #41
OK, the problem seems to be that for each user the number of requests are limited by the external translation service.

So you can only request a certain amount of translations, then you have to wait for a while.

@uetchy maybe the list can be tracked and shown in UI?

[2018-10-05 10:09] at-vinhdo commented on #41
@gingerbeardman Oh! I got it,
Thank you for your clear explanation.

[2018-10-06 04:51] uetchy opened #42 "Meaningful error message"
It covers #41 for showing an error for exceeding rate limit.

[2018-10-06 04:52] uetchy commented on #41
@gingerbeardman Indeed. It should be shown on the message panel. filed #42 for this issue.

[2018-10-10 21:10] MarkPi commented on #40
FYI, I had a somewhat opposite issue - selected text was instantly translated without ever enabling instant translation in Preferences > Extensions.
 - Checking, then Unchecking the box resolved it.
macOS High Sierra
Version 10.13.6
Safari 12.0

[2018-10-29 17:08] mehmetkoca commented on #39
I can't install v2.4 and v.2.5 on Safari 12.

[2018-10-29 17:18] gingerbeardman commented on #39
@mehmetkoca have you tried the Extensions Gallery?

[2018-11-06 09:31] mehmetkoca commented on #39
Polyglot is not included in Extensions Gallery. Is it published?

[2018-11-20 11:39] phillip641024 opened #43 "Why can't install 2.5.0 from Safari extension gallery?"
Only version 2.4.0 on extension gallery. Couldn't upload newest version on extension gallery?

[2018-11-20 11:41] gingerbeardman commented on #43
I think it is stuck in Apple approval process

[2018-11-24 11:02] phillip641024 commented on #43
By the way. How much will for Mojave version? Just curious :)

[2018-11-26 13:46] #43 closed

[2018-11-30 09:06] sherlockblaze opened #44 "Words limit"
Hi there,
The limitations of the interface call made me feel very hard, so I modified the api that was called, but I can't package it. Can you help me?
Tks

[2018-11-30 09:07] gingerbeardman commented on #44
https://code.tutsplus.com/tutorials/how-to-create-a-safari-extension-from-scratch--net-15050

[2018-11-30 09:21] sherlockblaze commented on #44
@gingerbeardman that's nice, thank you.

[2018-11-30 09:21] #44 closed

[2019-01-03 14:37] #41 closed

[2019-01-07 12:02] #42 closed

[2019-01-17 04:32] uetchy commented on #30
Sadly, I have been away and don't have a chunk of time enough.
If someone is willing to contribute into Swift & Safari App Extension impl., it would be much appreciated! ☺️

[2019-01-17 13:12] gingerbeardman commented on #30
I think it's fairly low priority until Safari Extension gallery source is retired (WWDC/June? Public/October?

[2019-01-26 21:14] agurodriguez opened #46 "Wrong default value for `Instant translation` feature in Settings Panel"
On a fresh installed Polyglot instance I'm observing the following behavior:

On Settings panel it shows the `Instant translation` feature disabled, but in reality it is enabled (I select text on any webpage and I show the tooltip).

If I uncheck and then check again the setting the feature gets disabled.

---

<img width="775" alt="screen shot 2019-01-26 at 4 09 11 pm" src="https://user-images.gi

[2019-01-26 21:55] gingerbeardman commented on #46
I can confirm this

[2019-02-01 09:36] ooii opened #47 "Polyglot generates errors in Kibana text fields"
Hi,

I'm using Polyglot since several months and never had any issue until I started using [Kibana](https://github.com/elastic/kibana).
When the extension is enabled, Kibana hangs as soon as I start writing text in text fields. I opened [an issue](https://github.com/elastic/kibana/issues/29809) at Kibana and I open one here.

[2019-03-27 10:48] nitramwin commented on #40
I want to report that since installing, instant translations occurred constantly even with Instant Translations>OFF. Checking and unchecking the box has fixed the issue.

[2019-03-27 11:53] gingerbeardman commented on #40
@MarkPi & @nitramwin this is a known issue  https://github.com/uetchy/Polyglot/issues/46

[2019-05-10 02:15] jaredchu opened #48 "Setting the native language"
Is there any extension setting that I can change my native language?

[2019-05-10 02:16] #48 closed

[2019-05-10 08:19] gingerbeardman commented on #48
Have you checked Safari > Preferences > Extensions > Target Language?

![GitHawk Upload by gingerbeardman](https://i.imgur.com/WTEu0BJ.jpg)

[2019-05-15 08:33] jaredchu commented on #48
@gingerbeardman thank you, I didn't see the setting before I created this issue so I closed it.

[2019-06-08 18:37] yarmolchuk opened #50 "Support new safari."
Please support the new safari.

[2019-06-08 21:46] gingerbeardman commented on #50
See #30

[2019-06-11 08:23] abc408880155 opened #51 "Could you consider supporting other browsers"
Could you consider supporting other browsers

[2019-06-19 06:25] uetchy commented on #51
Taking Chrome, for example, supporting it would be nice but there are already several extensions available up there.
- [Google Translate](https://chrome.google.com/webstore/detail/google-translate/aapbdbdomjkkjkaonfhkkikfgjllcleb)
- [Remenberry](https://chrome.google.com/webstore/detail/rememberry-translate-and/dipiagiiohfljcicegpgffpbnjmgjcnf)

[2019-06-19 06:28] uetchy commented on #51
We are working on shifting to Swift + JavaScript codebase so it's going to be less shared codebase between Safari extension and others. That's another con to support browsers other than Safari.

[2019-06-19 06:28] #50 closed

[2019-07-01 14:07] #39 closed

[2019-07-06 18:46] uetchy commented on #30
Finally. About to ship this month.

<img width="854" alt="Screen Shot 2019-07-07 at 3 36 23" src="https://user-images.githubusercontent.com/431808/60760050-a4e51e80-a069-11e9-87a9-480fc33e336a.png">

[2019-07-06 19:55] uetchy commented on #30
<img width="974" alt="Screen Shot 2019-07-07 at 4 52 04" src="https://user-images.githubusercontent.com/431808/60760623-3442ff80-a073-11e9-8615-5aa846734fad.png">
<img width="973" alt="Screen Shot 2019-07-07 at 4 52 38" src="https://user-images.githubusercontent.com/431808/60760624-3442ff80-a073-11e9-8abf-cec62a473b06.png">

Upcoming dark/light mode and vibrancy support.

[2019-07-07 09:15] uetchy commented on #30
[Pre-release version](https://github.com/uetchy/Polyglot/releases/tag/pre-release) is out!
Leave a comment if there is any glitch.

[2019-07-07 10:15] gingerbeardman commented on #30
Great work!

I am seeing bad encoding on translated result:

http://www.katch.ne.jp/~guts-2t86/game6.html
![Screen shot 2019-07-07 at 11 13 56](https://user-images.githubusercontent.com/49612/60766942-5f941180-a0a8-11e9-8893-dc7d3036322d.png)

http://sekaiyugi.com/games/hanafuda-1.html
![Screen shot 2019-07-07 at 11 14 56](https://user-images.githubusercontent.com/49612/60766953-78042c00-a0a8-11e9

[2019-07-07 10:17] gingerbeardman commented on #30
Also, there is no way to bring settings window back if it is closed using red dot. This will result in failed MAS submission. Either quit app on window close (recommended) or add a menu item to show window again.

[2019-07-07 11:04] uetchy commented on #30
@gingerbeardman Thank you for the super fast review!
Just fixed the Unicode related issue and updated pre-release tag. It should work now.

[2019-07-07 11:08] uetchy commented on #30
Added to ToDo

[2019-07-07 15:31] gingerbeardman commented on #30
Good Job!

![Screen shot 2019-07-07 at 16 30 37](https://user-images.githubusercontent.com/49612/60770610-9d0e9400-a0d4-11e9-8ffd-4a0a17f39ad6.png)

[2019-07-07 17:41] gingerbeardman commented on #30
AppDelegate.swift:
[code]

[2019-07-07 19:30] gingerbeardman commented on #30
Problem reading text over dark background.

![Screen shot 2019-07-07 at 20 30 05](https://user-images.githubusercontent.com/49612/60772998-18cd0880-a0f6-11e9-9e60-bf68591a3378.png)

[2019-07-08 07:55] uetchy commented on #30
@gingerbeardman put more opacity on the panel. try the latest build and see if the issue is fixed.

[2019-07-08 07:58] uetchy commented on #30
<img width="434" alt="Screen Shot 2019-07-08 at 16 37 27" src="https://user-images.githubusercontent.com/431808/60792754-415e0c80-a1a1-11e9-8530-f0ed4c514dde.png">
<img width="602" alt="Screen Shot 2019-07-08 at 16 37 45" src="https://user-images.githubusercontent.com/431808/60792769-47ec8400-a1a1-11e9-82eb-8cedb72fd260.png">

The latest build contains "synonyms" feature that displays related word

[2019-07-08 09:02] gingerbeardman commented on #30
Even better than ever!

[2019-07-08 09:49] gingerbeardman commented on #29
I was thinking it is possible to guess encoding of text using JavaScript or Obj-C (now that the extension is native)

Background
https://unicodebook.readthedocs.io/guess_encoding.html

JavaScript
https://github.com/aadsm/jschardet

Obj-C (Foundation)
https://developer.apple.com/documentation/foundation/nsstring/1413576-stringencodingfordata?language=objc

[2019-07-08 09:49] gingerbeardman commented on #30
Possible to catch some of the outstanding issues? Such as https://github.com/uetchy/Polyglot/issues/29

[2019-07-08 10:36] gingerbeardman commented on #30
Synonym feature display seems small for me?

![Screen shot 2019-07-08 at 11 35 15](https://user-images.githubusercontent.com/49612/60804109-9df70280-a174-11e9-8296-178158d1d356.png)

[2019-07-09 00:50] uetchy commented on #30
I won't fix #29 in this release because there are some difficulties lying down (e.g. difficulties on precise language detection and false negatives)

[2019-07-09 00:51] uetchy commented on #30
new build includes fixes on the font-size issue.

[2019-07-11 14:46] uetchy commented on #30
Polyglot 3 is now available at [Mac App Store](https://apps.apple.com/jp/app/polyglot/id1471801525?l=en&mt=12) and `mas` branch has been merged into `master`.
Huge thanks to all the contributors involved in this issue and Polyglot.

[2019-07-11 14:46] #30 closed

[2019-07-11 14:47] uetchy commented on #46
Closes as the new version has fixes on this.

[2019-07-11 14:47] #46 closed

[2019-07-11 14:47] #51 closed

[2019-07-11 14:47] #24 closed

[2019-07-11 14:49] uetchy commented on #17
Close this issue as there are many changes added since this issue was created. Create new issue if the problem continues.

[2019-07-11 14:49] #17 closed

[2019-07-11 14:50] #40 closed

[2019-07-11 14:53] uetchy commented on #47
Close this issue due to inactivities. If the glitch still exists in the latest version, reopen it.

[2019-07-11 14:53] #47 closed

[2019-07-12 12:30] gingerbeardman commented on #18
Is this correct? Won't fix?

[2019-07-12 12:31] gingerbeardman commented on #34
another

[2019-07-15 01:35] uetchy commented on #34
just let it close. no discussion for a month indicates no one is interested in this issue for now.
someone may create new issue in future if this issue is so crucial.

[2019-07-15 03:09] uetchy opened #55 "Show meaningful error message when API limit is exceeded"
Show meaningful error message when API limit is exceeded.
Originally PR #45 fixed this issue but Swift transformation process caused some regression.

[2019-07-17 09:24] gingerbeardman opened #56 "Add context menu to translate whole page?"
**Describe the solution you'd like**
Sometimes, after translating using Selection I decide that I would rather translate the Whole Page.

**Describe alternatives you've considered**
I have previously used the Translate extension from SideTree.com

**Possible solutions**
1. (preferred) in-place translation
  https://www.w3schools.com/howto/howto_google_translate.asp
2. redirection translation
  `ja

[2019-07-19 13:54] gingerbeardman opened #57 "Key press debugging is still activated"
**Describe the bug**
There is still key press debug logging activated.

**To Reproduce**
Steps to reproduce the behavior:

1. Open web inspector
2. Press a key on page
3. Watch console log

**Expected behavior**
No key press debugging

**Screenshots**
![Screen shot 2019-07-19 at 14 53 46](https://user-images.githubusercontent.com/49612/61540183-0d060e00-aa35-11e9-86a1-d65a1befbe07.png)

[2019-07-23 17:53] uetchy opened #58 "Add toolbar button to toggle instant translation"
Add toolbar button to toggle instant translation.

[2019-07-23 17:57] uetchy opened #59 "Transliteration"
Show transliteration of source text that allow us to figure out how it be pronounced.

[2019-07-24 08:14] uetchy commented on #57
fixed e04e971fb5335257170dca40f8b8a4e25628a96c

[2019-07-24 08:14] #57 closed

[2019-07-24 17:23] gingerbeardman opened #60 "Readability still not good"
**Describe the bug**
Select text where popup appears over dark background

**To Reproduce**

1. Go to https://mobile.twitter.com/kainanp/media
2. Scroll down to a tweet that features dark images
3. Select text for translation
4. Try to read popup

**Expected behaviour**
Should be easy to read popup

**Screenshots**
![Screen shot 2019-07-24 at 18 20 35](https://user-images.githubusercontent.com/496

[2019-08-09 17:07] gingerbeardman commented on #56
For this I now use: Myna for Google Translate Trial version from https://madbirdies.com

Feel free to close.

[2019-08-11 17:01] gingerbeardman opened #61 "Hold ALT to translate in the opposite direction?"
**Describe the solution you'd like**
Mostly I want to translate from Japanese into English.
I select text and this is what happens.

Sometimes I want to translate from English into Japanese.
It would be cool if I could hold alt and select text to translate this opposite way.

**But, what bout Auto Detect?**
Well, maybe there needs to be a preference for Alternate direction language?

**Mockup scre

[2019-08-13 12:32] uetchy commented on #61
Alt can be used for key combination so it should not be used for swapping language.
How about utilizing tool bar item for swapping languages or just changing languages?

[2019-08-13 12:42] gingerbeardman commented on #61
Good point regarding key.

(I do not use the hotkey at all so I forgot about it)

Whatever interface is decided, I would only use it very infrequently and it would need to work on selected text in a way that allows single instant translation. Currently, toolbar and instant translation are not complimentary?

[2019-09-06 11:22] gingerbeardman commented on #29
Let's till do this.

[2019-09-10 13:53] gingerbeardman commented on #18
Bump

[2019-09-13 09:44] gingerbeardman commented on #55
stale bot is annoying

[2019-09-13 11:13] uetchy commented on #55
should stop it later

[2019-09-20 01:20] MakHoCheung opened #63 "Polyglot is useless on Safari13"
I just updated Safari to version 13, and it warned that Polyglot can not use and uninstalled Polyglot.

[2019-09-20 03:04] uetchy commented on #63
Use MAS version instead
https://apps.apple.com/jp/app/polyglot/id1471801525?l=en&mt=12

[2019-09-20 03:06] #63 closed

[2019-09-20 10:28] #60 closed

[2019-09-20 19:12] andrewski opened #65 "Not supported in Safari 13"
When I upgraded to Safari 13, I noticed the Polyglot extension was one of the ones removed. It is such a helpful extension to me; I'd love to see it updated!

[2019-09-20 19:14] #65 closed

[2019-09-20 19:15] andrewski commented on #65
Sorry, apparently I had an old version! While looking for an updated version I saw the link in the App Store which works. My apologies, and thanks again for such a useful extension!

[2019-09-20 19:39] michalzielanski opened #66 "Not working with Safari 13"
I updated Safari to version 13, installed Polyglot from the Mac App Store (version 3.0.1) and it doesn't work.
There is no icon in the browser. The configured keyboard shortcut does not work.
How can I diagnose where the problem is?

[2019-09-20 19:41] gingerbeardman commented on #66
Move the Polygot app to another folder and then back to Applications. The entry in Safari Extensions window should then appear.

[2019-09-20 19:56] michalzielanski commented on #66
It works. The extension was not be selected in Preferences -> Extensions.
Thank you for your help.

[2019-09-20 19:56] #66 closed

[2019-09-21 03:27] uetchy commented on #66
It should be documented in README

[2019-09-21 10:37] alidavut opened #68 "Text to speech for pronunciation"
Sometimes when you translate some word, you may want to hear its pronunciation to learn the word better.

We may add some buttons somewhere into the translation panel for pronunciations.

![audio](https://user-images.githubusercontent.com/435605/65372133-a55a8200-dc74-11e9-9783-bb947a3e8c7d.png)

When you click the audio icon it pronounces the selected text.

[2019-09-22 13:06] bbilginn commented on #68
this url is available.

https://translate.google.com/translate_tts?ie=UTF-8&q=request&tl=en&client=tw-ob

[2019-10-01 22:54] dh1789 opened #69 "Polyglot doesn't show language select menu in safari preferance"
polyglot does not show the bottom menu in safari preferences
- Language setting
- Shortcuts

The language is not set and translated into English
![image](https://user-images.githubusercontent.com/12591264/66009793-03019080-e4f7-11e9-8ee5-ffa599581284.png)

[2019-10-02 00:45] uetchy commented on #69
It's an old version of the extension. Try the latest version instead.
https://apps.apple.com/jp/app/polyglot/id1471801525?l=en&mt=12

[2019-10-02 00:45] #69 closed

[2019-10-02 21:19] dh1789 commented on #69
thank you @uetchy
I didn't know changed setting method
polyglot is very useful in safari extension apps!

[2019-10-27 08:24] OfficialYoungX opened #70 "Maybe a 'copy' button"
This plugin works really great on most time. But I do hope there is copy button! Just like this:
![Artboard](https://user-images.githubusercontent.com/25839518/67631765-6eac0300-f8d5-11e9-93d9-4198d209f451.png)
In this picture, *(a)* is when I want to copy the translated words now, and if there is a copy button like *(b)*(maybe look like this, whatever). It will be much more easier to copy the tra

[2019-10-27 10:37] uetchy commented on #70
Copying the entire text or just a selected word?

[2019-10-27 13:17] gingerbeardman commented on #70
My workaround for this is as follows:

1. Select text to get the Polyglot translation
2. Select translated text that you want to copy but do not release the mouse button
3. Press Cmd+C to copy
4. Let go of the mouse button (translation disappears)

[2019-10-28 01:46] OfficialYoungX commented on #70
Yeah, this is also my workaround! You have say what I wanna say😃

[2019-10-28 01:47] OfficialYoungX commented on #70
The entire text, lol.😄

[2019-12-21 07:17] nerozhao opened #71 "ls"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version (please complete the follow

[2019-12-21 07:36] #71 closed

[2019-12-24 11:12] gingerbeardman opened #72 "Button to hide popup without deselecting text"
**Is your feature request related to a problem? Please describe.**
PolyGltp translates all selected text, no mater what language, so it become difficult to select text for the purposes of copy and paste or quoting using web app forum popup.

**Describe the solution you'd like**
I'd like a button to hide popup without deselecting text

**Describe alternatives you've considered**
I have to select fa

[2019-12-24 11:35] uetchy commented on #72
not sure of the situation you are facing. You can copy the text in the Polyglot panel. If it's about instant mode, I think it's faster to turn off instant mode or consider adding a toolbar button to switch instant translation feature. Furthermore, I think we can change the behavior in instant mode to cope with this issue.

[2019-12-24 12:24] gingerbeardman commented on #72
The polyglot panel hides things that I need to click.

[2019-12-24 12:34] uetchy commented on #72
You can dismiss the panel clicking outside it.
Adding a toolbar button to switch instant mode looks like a simpler solution to this.
I don't use instant mode, and for such users, the hide button sounds a little too much complicated.

[2019-12-24 19:16] gingerbeardman commented on #72
Clicking outside panel also closes the web-app-ui that appeared on selection.

[2019-12-24 19:20] gingerbeardman commented on #72
I think Escape to close panel would be easy?

I will find time to add it myself.

[2019-12-25 01:01] uetchy commented on #72
@gingerbeardman awesome!
If you find any problem with the development setup, leave a comment here.

[2020-02-05 15:50] spjda1 opened #73 "Not working"
The Extension won't translate any text or language. When selecting text the pop-up appears but with the spinning wheel circling for ever.

Polyglot Version: 3.1
Safari Version: 13.0.3

![Screen Shot 2020-02-05 at 4 47 56 PM](https://user-images.githubusercontent.com/60705318/73857460-44a0a000-4837-11ea-90d8-71a7eabbb700.png)

Was working just fine a few minutes ago.

[2020-02-05 16:21] gingerbeardman commented on #73
Google may be rate-limiting your use of the translate API.

Have you been doing lots of translations?

Anyway, wait a short while and try again.

[2020-02-06 12:49] gingerbeardman commented on #73
Definitely API limiting

[2020-03-16 11:53] gingerbeardman commented on #29
I still run into this problem.

I think perhaps my issues would mostly be solved switching off Polyglot for contents of input/textarea?

[2020-03-18 10:51] uetchy commented on #29
Putting "On/off" toggle switch inside textarea (as Grammarly does) is one of our options.
<img width="286" alt="Screen Shot 2020-03-18 at 19 49 38" src="https://user-images.githubusercontent.com/431808/76953164-9b7ab880-6951-11ea-8e2e-4637fb045625.png">

[2020-03-18 10:53] gingerbeardman commented on #29
I will look into how that works.

[2020-04-26 00:46] TheRealMilesLee opened #75 "Can you make the chrome version?"
the experience on the safari is really nice, I wish this plugin can also available on chrome as the extension

[2020-04-27 06:35] uetchy commented on #75
There's already [a competitor](https://chrome.google.com/webstore/detail/google-translate/aapbdbdomjkkjkaonfhkkikfgjllcleb), but it's nice to support Chrome as well.
The current codebase is composed of TypeScript and Swift, and we have to reimplement the core (Swift) part of Polyglot in TypeScript as well to make it runnable on Chrome.
Anyone who has expertise in Chrome Extension and is interested

[2020-04-30 05:39] uetchy opened #76 "Support DeepL"
DeepL seems to do a better job compared to Google Translate.

[2020-05-01 10:25] gingerbeardman commented on #76
As an option?

[2020-05-03 04:41] uetchy commented on #76
It should be optional because of limited supported languages.

[2020-05-14 13:40] applehawk commented on #68
Also please add phonetic transcription inside "translated block". Will be nice to have a readable pronunciation form and SoundPlay button there.

[2020-06-29 04:26] dai706540 opened #77 "Can't use"
<img width="977" alt="image" src="https://user-images.githubusercontent.com/53268677/85972641-21070d80-ba03-11ea-928f-e72f3b02ef59.png">
As the picture shows, I can't use this app and I don't know why. When I use it the first time, everything goes well.
I'm in China, and I've used VPN.

[2020-06-29 10:34] gingerbeardman commented on #77
The spinner appears whilst Google Translate returns the result.

[2020-06-29 12:15] dai706540 commented on #77
Thanks for your reply. Now it works, but sometimes the spinner appears without the result. It's a perfect plugin, I like it.

[2020-06-29 12:28] gingerbeardman commented on #77
There is a limiter by Google Translate, if you use it too much within a certain time period there will be no results. Please wait a while and try again.

[2020-06-29 13:50] dai706540 commented on #77
Thanks a lot, so kind of you!

[2020-07-09 11:04] gingerbeardman opened #78 "Support for currency conversion"
**Describe the solution you'd like**
If selected text contains only numbers and currency, do currency conversion.

eg. ¥660, 660 yen, £9.99, $10.00, 10USD

**Describe alternatives you've considered**
Using Chrome with [Direct Currency Converter](https://chrome.google.com/webstore/detail/direct-currency-converter/hgdfddnhgpincbchioebogaljemgkpgl?hl=en) extension

**Additional context**
Caching curr

[2020-07-09 11:14] uetchy commented on #78
It seems this is beyond the scope of Polyglot though, I'm curious to see how it turns out. Anyone who wants to make a PR for this feature?

[2020-07-09 11:14] #77 closed

[2020-08-12 11:11] AntonUspehov commented on #29
Hi there.
I have Safari in English, but I want translate English to Russian?
How can I do this?

[2020-08-12 11:19] gingerbeardman commented on #29
@AntonUspehov did you set your preferences in the Polyglot app?

[2020-08-21 04:50] zhuozhiyongde opened #80 "Can you tell me the URL of the API you are using?"
Can you tell me the URL of the API you are using? I need to add it to the PAC rules to improve the access speed, otherwise my translation will keep circled……

like this:
<img width="282" alt="image" src="https://user-images.githubusercontent.com/36695271/90853406-9f9d7d00-e3ac-11ea-9308-ad7600dd71bd.png">

[2020-09-09 09:17] gingerbeardman commented on #29
This issue still annoys me every day.

How about disabling Polyglot for certain domains? For me that would be English Wikipedia.

[2020-10-16 02:51] uetchy opened #81 "Polyglot 4"
I've been thinking about the future of Polyglot and been intrigued by the idea of bringing the app out of Safari and making it universally available in any app on macOS. Thanks to the power of Accessibility API (NSAccessibility), it might be possible. It would introduce the major structural changes and require a lot of efforts though.

## Wishlist

- Works in any app.
- Support other translation p

[2020-10-16 11:48] gingerbeardman commented on #81
I use the DeepL app in this way and I have to say I am not a fan of their implementation. So I guess if you can improve on how they do it, go for it!

The main way I use the app is selecting text in Safari, so hopefully that would not go away?

[2020-10-19 09:49] uetchy commented on #81
@gingerbeardman Yes, in Polyglot 4, you select any text in any app (incl. Safari and Safari Reader Mode) and hit the global shortcut to grab a translated text. It's similar to PopClip's behaviour.
In that scenario, Instant translation could be an issue because even you just select the text in Terminal, the floating panel suddenly popped in, which is too distractive.

[2020-10-20 08:02] gingerbeardman commented on #81
In the DeepL app you can opt-out (exclude) apps from seeing the shortcut. I'd actually prefer it if it was opt-in.

Maybe in Polyglot you can opt-in to instant translation per-app?

https://github.com/Pyroh/Fluor works this way.

[2020-10-24 10:36] uetchy commented on #81
@gingerbeardman It's great idea to introduce a whitelist to control where instant translation works. Yeah I'd prefer opt-in way too.

[2020-10-25 12:37] gingerbeardman commented on #81
I'm still on Mojave. 🙃

[2020-10-27 01:44] minhdn122 opened #82 "Polyglot does not work sometimes"
The utility is great but I don't know why it can be used sometimes?
I'm using Catalina

<img width="792" alt="polyglot" src="https://user-images.githubusercontent.com/73508422/97247348-15511980-1832-11eb-9a44-f44f99b0e7fa.png">

It just rotates but does not translate

[2020-10-27 12:28] gingerbeardman commented on #82
Yes, Google Translate API limit has been exceeded. Wait a while and try again.

This needs a suitable error message.

See #55

[2020-10-27 12:28] #82 closed

[2020-10-27 12:30] gingerbeardman commented on #41
See #55

[2020-10-27 12:32] gingerbeardman commented on #55
@uetchy lots of recurring issues for this, I have collected them above.

[2020-10-30 23:07] muhasturk commented on #81
should include an option to choose translation provider like google, bing, yandex etc.

[2020-11-03 03:06] dairan opened #83 "dark Mode at source class"
**Describe the bug**
Colors at class="source" are hard do see at dark mode on MacOS 10.15.7 (19H2) and safari Version 14.0 (15610.1.28.1.9, 15610)

**To Reproduce**

1. Go to https://developer.apple.com/documentation/uikit/uibarbuttonitem/1617153-init
2. Click on Apple Logo () System Preferences -> General  -> alternante between Light and Dark mode and see url at item 1.

**Expected behavior**
The

[2020-11-03 10:20] gingerbeardman commented on #83
Previously solved in #60, will need working into a solution for Big Sur whilst keeping backwards compatibility.

[2020-11-09 13:36] AlexShvetsovKeepsolid opened #84 "Hotkeys don't work"
Hello. I love your extension! But notice one bug: I cannot use hotkeys. I tried to set several different combinations but it doesn't work.
Safari - 14, app version - 3.1

[2020-11-26 14:17] hnonstoph opened #85 "it keep spinning"
when i run the extension first time, it work perfectly and smooth. But after few minutes, it keeps spinning and so no result. sometime it works sometime not.
<img width="722" alt="Ảnh chụp Màn hình 2020-11-26 lúc 21 18 51" src="https://user-images.githubusercontent.com/48861811/100361682-0a55f880-302d-11eb-8cf3-0f17addb3197.png">

[2020-11-27 11:09] gingerbeardman commented on #85
API limit exceeded, wait a while and try again.

See #55 and #82, #77, #73, #41

[2020-11-27 11:09] #85 closed

[2020-12-30 12:22] alexrogalski opened #87 "Polyglot no longer translate for me"
<img width="1440" alt="Screenshot 2020-12-30 at 13 20 05" src="https://user-images.githubusercontent.com/55143746/103350974-faa15800-4aa1-11eb-98c0-fa5451b40a94.png">

Its all the time loading. It was my favorite extension :(

[2020-12-30 12:48] gingerbeardman commented on #87
Google Translate API limit exceeded.

Solution: slow down your usage, or wait a while and try again.

We need to re-add a message when this happens.

See #55 and #85, #82, #77, #73, #41

[2020-12-30 12:48] #87 closed

[2021-01-05 08:55] #55 closed

[2021-01-06 00:45] uetchy commented on #84
@AlexShvetsovKeepsolid Try 3.2 released today and see if the problem persists, thanks for reporting!

[2021-01-06 00:54] #83 closed

[2021-01-06 00:59] uetchy commented on #83
Thanks for reporting. This is due to a CSS variable declaration in `:root` that accidentally breaks the styles of the visited site. The fix will be in the next version.

[2021-01-06 01:09] uetchy commented on #56
As "translate whole page" has been available since Safari 14, this Issue can be safely closed.

[2021-01-06 01:09] #56 closed

[2021-01-06 10:02] gingerbeardman commented on #56
Do you mean macOS/Safari feature? If so, this is not available for all languages. For example I cannot translate Japanese to English.

[2021-01-06 10:49] AlexShvetsovKeepsolid commented on #84
Hey. I think this has been fixed in version 3.2. When I installed the new update, the hotkeys still didn't work. But after a few changes the hotkey combination, it starts working.
<img width="1008" alt="Screenshot 2021-01-06 at 12 49 04" src="https://user-images.githubusercontent.com/72204782/103760349-a6582400-501d-11eb-9fad-3d7335748a26.png">

[2021-01-06 10:50] #84 closed

[2021-01-06 10:54] AlexShvetsovKeepsolid commented on #84
Oh, I forgot. Thank you very much

[2021-01-20 15:19] StanleyKnife opened #88 "Screen junk with latest update"
**Describe the bug**
When Polyglot is loaded, a pages with Arabic text shows an always-on grey box. Text highlighted for translation shows a spinning box top left.

**Screenshots**

Always-on box at top, highlighted translation bottom.

**Version (please complete the following information):**

- Version 3.2

![polyglot issue](https://user-images.githubusercontent.com/3235450/105195810-e4cc0380-5b3

[2021-01-20 23:23] gingerbeardman commented on #88
I'm not able to reproduce

using https://ar.wikipedia.org/wiki/الصفحة_الرئيسية as a test

[2021-01-21 09:14] StanleyKnife commented on #88
Sorry - the site is [fm.gov.om](https://fm.gov.om/ministry-ar/about-us-ar/key-figures/?lang=ar) and I'm finding this issue each time I turn Polyglot back on. My co-workers are finding the same issue.

[2021-01-21 09:19] StanleyKnife commented on #88
OK this is really odd. I've found that when I translated some text while editing the page (and thanks for that new ability, by the way) the following code was inserted in the panel I was editing:

<div id="polyglot__panel" style="left: 10px; top: 86.4375px;">
<h3 class="polyglot__inner">تهتدي الدبلوماسية العمانية بالفكر السامي لحضرة صاحب الجلالة السلطان المعظم ورؤيته وتوجيهاته، وتلتزم بالمبادئ الت

[2021-01-21 10:35] gingerbeardman commented on #88
that's the problem!

What type of edit control is the page using?

[2021-01-21 10:45] StanleyKnife commented on #88
It's the Avada theme, which has its own editing environment.

Previously Polyglot was unable to translate Arabic text within the editor window, so it wasn't an issue. I think I should just remember not to use it here.

By the way, Polyglot is a fantastic tool. Exactly what I need. Thank you!

[2021-01-21 11:22] gingerbeardman commented on #88
Oh, and I use CleanMyMac to trim language files which still works well.

<img width="846" alt="Screen shot 2021-01-21 at 11 21 27" src="https://user-images.githubusercontent.com/49612/105344449-df29f880-5bda-11eb-8dab-7ac50269e5dd.png">

[2021-01-24 07:57] erkanyildiz commented on #59
Would you be interested in a PR that adds transliteration support based on `CFStringTokenizer`: https://developer.apple.com/documentation/corefoundation/cfstringtokenizer?language=objc

For Japanese it would look like this:

<img width="1530" alt="transliteration" src="https://user-images.githubusercontent.com/1222652/105624409-d187a380-5e64-11eb-8955-5eac085dc0eb.png">
<img width="752" alt="trans

[2021-01-24 22:22] gingerbeardman commented on #59
I'm not the maintainer of this project, but I think this is a useful feature.

It would save me opening Google Translate.

[2021-01-25 04:09] uetchy commented on #59
Now that I'm convinced of the usefulness of this feature, well... here's a screenshot from my dev build.
<img width="621" alt="Screen Shot 2021-01-25 at 1 04 38 PM" src="https://user-images.githubusercontent.com/431808/105660220-ebc98c00-5f0d-11eb-88ea-d3f346349367.png">

[2021-01-25 05:20] uetchy commented on #29
doing quick experiment. mostly working fine though.

<img width="708" alt="Screen Shot 2021-01-25 at 2 17 32 PM" src="https://user-images.githubusercontent.com/431808/105664467-1882a100-5f18-11eb-95f4-b33938547945.png">

[2021-01-27 07:13] #29 closed

[2021-01-27 07:13] #59 closed

[2021-01-28 16:47] gingerbeardman commented on #59
Transliteration works well.

I'd like to see it presented visually different to the normal translation so that it is visually distinct. Perhaps using smaller text?

[2021-02-12 09:25] jirkamatej opened #90 "Shortcut to translate disables used character"
When I select a shortcut i.e "cmd + shift + X" I cannot use shift+X to write upper X character. Tried also for different letters and it is the same.

Polyglot version Version 3.3 (3.3.0)

[2021-02-12 09:51] gingerbeardman commented on #90
I can confirm.

[2021-02-12 09:55] gingerbeardman opened #91 "Not possible to clear hot key from app"
**Describe the bug**
Not possible to clear hot key from app

**To Reproduce**
Steps to reproduce the behavior:

1. Open Polyglot.app
2. Set hot key, eg. <kbd>cmd</kbd>+<kbd>shift</kbd>+<kbd>x</kbd>
3. Restart Polyglot app
4. Click (x) button to clear key combo
5. Restart Polyglot app

**Expected behavior**

- key combo should be saved when cleared

**Version (please complete the following informat

[2021-02-12 09:58] gingerbeardman commented on #90
**Describe the bug**
key combo can prevent typing of normal characters

**To Reproduce**
Steps to reproduce the behavior:

1. Set hot key, eg. <kbd>cmd</kbd>+<kbd>shift</kbd>+<kbd>x</kbd>
2. Reload page
3. Try to type capital X (<kbd>shift</kbd>+<kbd>x</kbd>) in text field on page

**Expected behavior**

- key combo should not affect normal typing

**Version (please complete the following informat

[2021-02-12 10:00] gingerbeardman commented on #88
I have also had Polyglot leaving text inside of text fields after selecting text in text field. I was editing an item on archive.org at the time.

[2021-02-12 18:58] StanleyKnife commented on #88
Yes, it seems to happen when you translate text inside an edit field. Works fine on non-editing web pages.

[2021-02-13 13:37] gingerbeardman commented on #88
I thought that in https://github.com/uetchy/Polyglot/issues/28 translation was disabled in text field, because it's most likely the words in there are either in your own language, or words I am typing myself!

[2021-02-13 14:22] StanleyKnife commented on #88
No, you can still translate - but the extra code is inserted when you do.

[2021-02-20 06:26] jctaoo commented on #75
Google Translate always translate whole web page, Polyglot is better.

[2021-02-26 12:29] gingerbeardman commented on #29
This does not work reliably for me?

eg. in my eBay.co.uk messages I select part of a message and that triggers Polyglot?

[2021-02-28 11:50] davidyuk commented on #75
This is not true, look at this screenshot from the link above:

![unnamed](https://user-images.githubusercontent.com/9007851/109417307-1ce92080-79d4-11eb-841e-ba200050d053.jpg)

[2021-02-28 17:31] davidyuk opened #92 "Popup with translation can be broken by styles of page where it is open"
**Describe the bug**
Popup with translation in some cases can be broken by the styles of the page where it is open.

**To Reproduce**
1. Go to [example.com](http://example.com)
2. Select some text to translate
3. See a popup with extra padding like on the screenshots below

**Expected behavior**
A popup without extra paddings.

**Screenshots**
![Screenshot 2021-02-28 at 20 18 41](https://user-imag

[2021-03-18 00:54] gingerbeardman commented on #88
I am getting this in every text area:
- Wordpress
- Wikipedia
- Internet Archive

[2021-03-18 04:54] uetchy commented on #88
Actually I couldn't reproduce this bug. Could you give me a complete and precise procedure to reproduce the bug?

[2021-03-18 10:26] gingerbeardman commented on #88
Sure!

First you nee to create a page on internet archive (see below), or a post on a wordpress blog, or edit a wikipedia page.

Then, simply select text in the text field:
1. popup html is added as text inside the text field

This is a problem: if the popup is not dismissed the article can be saved and the HTML for the Polyglot popup will be saved with the contents of the text field!

Also:

1. g

[2021-03-18 10:45] gingerbeardman commented on #88
Similarly, with WordPress:

<img width="588" alt="Screen shot 2021-03-18 at 10 43 27" src="https://user-images.githubusercontent.com/49612/111613872-e3d3ed00-87d6-11eb-9bc9-daf704ad03a7.png">

I do not have time to show Wikipedia, but the process is the same.

Basically, do something on the page to change DOM before popup is dismissed and we lose control of the popup and its HTML code.

[2021-03-19 08:46] uetchy commented on #88
<img width="869" alt="Screen Shot 2021-03-19 at 5 42 17 PM" src="https://user-images.githubusercontent.com/431808/111753637-74472600-88da-11eb-8e59-9cc3fc7e3fac.png">

I can confirm.
That's a bit tricky problem.
Normally Polyglot can suppress instant translation when the selected text is in a textarea or input tag, but in this case the editor is just a `body` inside `iframe` that Polyglot cannot t

[2021-03-19 08:49] uetchy commented on #88
Disabling iframe handling is the easiest route, but I don't want to do it because it also prevents me from translating live chat comments on YouTube. We need to find another solution to this.

[2021-03-19 11:18] gingerbeardman commented on #88
I'll also think about this problem.

[2021-03-19 11:59] gingerbeardman commented on #88
Just to make some notes on possible exclusion list of selectors:

- Internet Archive: `div.wysiwyg iframe`
- WordPress: `div.mce-tinymce`
- Wikipedia: `div.ve-ce-surface`

[2021-04-25 12:40] Aranjn opened #97 "is there a plans to fix API rate limit error with upcoming updates?"
Hi,

It seems that it a common issue by many users, and in my case, when I try to translate (from Swedish to English) after a few times, I get this error: _The API rate limit has been exceeded. Please try again later._

As waiting for sometimes (so that this would go away) is not an ideal solution, I was wondering if you have any plans to fix this with the upcoming update or this issue has no solu

[2021-04-25 22:40] gingerbeardman commented on #97
The rate limit is enforced by Google Translate API.

You could use a VPN or cycle your IP address to bypass the limit.

[2021-04-26 10:14] Aranjn commented on #97
Thank you for your respond and  recommendations, does this means this issue will remain like this in the future updates as the rate limit is enforced by Google?

[2021-04-26 10:31] gingerbeardman commented on #97
Yes, that is correct.

[2021-04-30 00:20] xxx44yyy opened #98 "Safari 14.1 not working"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version (please complete the follow

[2021-04-30 00:24] #98 closed

[2021-04-30 00:24] xxx44yyy commented on #98
mistake

[2021-05-02 07:42] Oleg-Chashko opened #99 "Improving the readability of the icon on the dark theme of the website"
Improving the readability of the icon on the dark theme of the website.

**Screenshots**
<img width="908" alt="Bildschirmfoto 2021-05-02 um 09 29 08" src="https://user-images.githubusercontent.com/62497891/116805901-daee6f00-ab29-11eb-85ae-22822979c7e3.png">

**Example the website**
https://9to5linux.com/first-look-at-ubuntus-new-desktop-installer
<img width="757" alt="Bildschirmfoto 2021-05-02 um

[2021-05-02 14:24] Oleg-Chashko opened #100 "Incorrect application button behavior"
Incorrect application button behavior.
This behavior appeared after the last update of the application.
- Safari v.14.1 (16611.1.21.161.3)
- Polyglot v.3.4

**Example**

https://user-images.githubusercontent.com/62497891/116816445-3ccacb00-ab62-11eb-8029-2edebc8545f3.mp4

[2021-05-02 18:18] Oleg-Chashko opened #101 "Application button "wandering" around the monitor"
The icon should always be next to the translation field. And icon shouldn't "wandering" on the monitor.
It seems that this behavior appeared after the last update of the application.

- Safari v.14.1 (16611.1.21.161.3)
- Polyglot v.3.4

**1. Example**
https://www.microsoftedgeinsider.com/en-us/download

https://user-images.githubusercontent.com/62497891/116822794-24b67400-ab81-11eb-832c-7c9f8b9c6e

[2021-05-02 20:18] gingerbeardman commented on #101
I think this and #100 are the same issue.

[2021-05-02 20:30] Oleg-Chashko commented on #101
Hi @gingerbeardman,
in all likelihood these issues are interrelated, I think you are right. Moreover, it happened after the last update.

[2021-05-02 22:32] Oleg-Chashko opened #102 "The anomalous behavior of the window with the translation"
It seems that this behavior appeared after the last update of the application.
This was noticed by me, only on this site. And only on this page.
https://www.itopnews.de/2021/05/statt-teurem-anhaenger-loch-in-airtag-bohren/

- Safari v.14.1 (16611.1.21.161.3)
- Polyglot v.3.4

**1. Example**

https://user-images.githubusercontent.com/62497891/116829682-6ce78d80-aba5-11eb-883f-25b6022d9332.mp4

[2021-05-02 22:46] gingerbeardman commented on #102
This is related to support for iframe, which was introduced recently.

The Disqus comments are in presented in an iframe html element.

[2021-05-02 22:58] Oleg-Chashko commented on #102
I also thought at first that it was related to Disqus.
I double-checked on other sites with Disqus, but I never found such an anomaly there.
This is strange...

[2021-05-03 19:34] Oleg-Chashko opened #103 "The translation window must be visible in any color of the website"
The translation window must be visible in any color of the website.
Since it is difficult to visually distinguish the translation window against a dark background.

P.S. Thanks for the awesome Safari extension!

**Example**

https://user-images.githubusercontent.com/62497891/116923252-b93ed600-ac56-11eb-83c9-c266dcf65312.mp4

[2021-05-04 15:54] Oleg-Chashko opened #104 "Under certain conditions, it hangs while waiting for the translation of the text"
Under certain conditions, it hangs while waiting for the translation of the text.
This happens when the link is opened from the desktop.
It seems that this behavior appeared after the last update of the application.

- Safari v.14.1 (16611.1.21.161.6)
- Polyglot v.3.4

**Example**

https://user-images.githubusercontent.com/62497891/117031536-f52e7580-ad00-11eb-938e-ba146fe5b90c.mp4

**Example Link

[2021-05-04 23:02] gingerbeardman commented on #104
This looks like API limit has been reached. Google Translate only lets you translate a certain number of times over a period of time.

Wait and try again later?

[2021-05-05 07:28] Oleg-Chashko commented on #104
Unfortunately not, I think there is another problem here.

As an example, not one translation has been made today.
The link is open from Apple-mail, the first translation for today immediately causes a problem. And if you translate into a direct site, there is no problem. To read, I very rarely use the application. So I do not exceed the limit. And as I wrote above that I did not have this problem

[2021-05-05 12:19] gingerbeardman commented on #104
Do you see any errors in web inspector console?

[2021-05-05 12:43] Oleg-Chashko commented on #104
https://user-images.githubusercontent.com/62497891/117142553-2154ff80-adb0-11eb-9ca0-aa9f61d6c92e.mp4

[2021-05-05 13:40] Oleg-Chashko commented on #104
Found what this problem is related to. When you run the link. The window in which you want to translate is highlighted in blue. There will be no translation! If you click on a page of the website, the translation will be done. This is due to the structure of this website. This problem was not found on other Internet sites.

<img width="834" alt="Bildschirmfoto 2021-05-05 um 15 21 55" src="https://

[2021-05-05 13:41] gingerbeardman commented on #104
Good find! Please change the bug report accordingly.

[2021-05-05 13:46] Oleg-Chashko commented on #104
Always happy to help!
Please tell me how best to change the name of the bug report. Thank you.

[2021-05-06 18:58] Oleg-Chashko opened #105 "The translation button does not appear on the www.howtogeek.com website"
The translation button does not appear on the www.howtogeek.com website.
- Safari v.14.1 (16611.1.21.161.3)
- Polyglot v.3.4

**Screenshots**
![Screen](https://user-images.githubusercontent.com/62497891/117351301-da4d3400-aead-11eb-8649-6c96e8a86649.gif)

[2021-05-06 20:08] Oleg-Chashko opened #106 "Improving field visibility for keyboard shortcut in dark theme"
Improving field visibility for keyboard shortcut in dark theme.

**At the moment**
<img width="561" alt="Alt Dunkel" src="https://user-images.githubusercontent.com/62497891/117359004-20f35c00-aeb7-11eb-9bae-61d7cb48e997.png">

**Example**
<img width="561" alt="New Dunkel" src="https://user-images.githubusercontent.com/62497891/117359239-6a43ab80-aeb7-11eb-8b24-2b1b936dd4fa.png">

[2021-05-24 12:18] Oleg-Chashko opened #108 "On github, translation is not possible everywhere"
On github, translation is not possible everywhere.

![ScreenFlow](https://user-images.githubusercontent.com/62497891/119346663-cd488700-bc9a-11eb-9d27-30d9a85e53ba.gif)

[2021-05-24 12:29] gingerbeardman opened #109 "Translation fails when text contains link"
**Describe the bug**
Translation fails when text contains link

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://github.com/uetchy/Polyglot/blob/master/README.md
2. Select first pin of Setup list

**Expected behavior**
- translation

**Actual behavior**
- no translation

**Screenshots**
<img width="419" alt="Screen shot 2021-05-24 at 13 29 24" src="https://user-images.githubuser

[2021-05-24 12:50] Oleg-Chashko commented on #109
Hi, @gingerbeardman
Matt, i don't see any translation problems here.
Maybe it's because I have a different version of Safari?

- Safari v.14.1 (16611.1.21.161.6)
- macOS v.11.3.1 (20E241)
- Polyglot v.3.4

![Screen_1](https://user-images.githubusercontent.com/62497891/119349186-26fe8080-bc9e-11eb-8a5d-68d8181e65bd.gif)

[2021-05-24 13:09] Oleg-Chashko commented on #109
Matt, sometimes I've noticed that Apple can update the browser "out of sight", but not update the MacOS system. Like an emergency security update or internal Safari settings, without warning the user. Because of this, I write the full version number of the example: Safari v.14.1 (16611.1.21.161.6)

[2021-05-24 13:46] gingerbeardman commented on #109
Have edited my app versions above.

Also, here's a screen recording: https://imgur.com/a/1bazwLB

[2021-05-24 14:07] Oleg-Chashko commented on #109
And here, instant transfer, no button.

<img width="561" alt="Screen Shot 2021-05-24 at 16 06 25" src="https://user-images.githubusercontent.com/62497891/119359540-09371880-bcaa-11eb-9450-bc31393908f3.png">

![Screen_2](https://user-images.githubusercontent.com/62497891/119359308-c70dd700-bca9-11eb-9273-2f132b65f131.gif)

[2021-05-24 15:20] gingerbeardman commented on #109
The worst type of bug, one that's difficult to reproduce!

[2021-05-24 15:33] Oleg-Chashko commented on #109
Completely agree with you, if you're not hard to put (Auto detect) and (Russian) language and see if the result.
Maybe it depends on what language you translate to?

<img width="378" alt="Screen Shot 2021-05-24 at 17 25 08" src="https://user-images.githubusercontent.com/62497891/119370879-1954f500-bcb6-11eb-858e-5995bc33b0ec.png">

[2021-05-24 15:48] Oleg-Chashko commented on #109
You are translating from English into English. If I translate from Russian into Russian there will be a hard problem like you. Where this app takes the words, the word is not there. I think that's the secret of this phenomenon.
Example:
![Screen_3](https://user-images.githubusercontent.com/62497891/119372642-d1cf6880-bcb7-11eb-9581-0ea074424414.gif)

[2021-05-24 15:51] gingerbeardman commented on #109
Yes! Good catch.

[2021-05-24 15:56] Oleg-Chashko commented on #109
He who seeks, he will always find. The main thing is to never give up. :)
It was my pleasure to help you.

[2021-09-19 11:07] charliegc4 opened #113 "Missing something"
I must be missing something

I installed Polyglot on Mac OS 11.6, and have the option selected for instant translation and icon.
But when I select text in Safari in a different language, no option is offered to translate.

[2021-09-19 16:53] gingerbeardman commented on #113
Did you enable the extension in Safari preferences?

[2021-12-28 15:41] banx9x opened #117 "Bug when translating text containing html tags"
**Describe the bug**
Bug when translating text containing html tags

**Screenshots**

<img width="439" alt="HTML Tables 2021-12-28 10 PM-40-59" src="https://user-images.githubusercontent.com/72425188/147582783-8156740a-95c3-4f64-882e-f8741c0abeda.png">

[2021-12-30 23:30] gingerbeardman commented on #117
What is the bug? Please describe it in English.

[2022-04-19 11:28] Enrico68 commented on #48
There is not setting for the native language, dont know how to set up. It just translate only  English (btw a language that I hate)

![Schermata 2022-04-19 alle 13 26 59](https://user-images.githubusercontent.com/7678106/163993670-33babfda-c1f1-4bfe-a19a-1cf9c6981414.png)

[2022-04-19 11:33] Enrico68 opened #121 "Bug: no setting available in the extension preferences"
### Description

There is not setting for the native language, dont know how to set up. It just translate only  English (btw a language that I hate)

### To Reproduce

just go preferences-->extension

### Expected behavior

_No response_

### Screenshots

![Schermata 2022-04-19 alle 13 26 59](https://user-images.githubusercontent.com/7678106/163993670-33babfda-c1f1-4bfe-a19a-1cf9c6981414.png)

###

[2022-04-19 11:36] gingerbeardman commented on #121
Please read the docs

https://github.com/uetchy/Polyglot#setup

[2022-04-19 11:36] #121 closed, assigned to nobody

[2022-07-27 21:39] banx9x commented on #117
When the text contains an html tag, rendering errors and sometimes application crashes

Here is an example
<img width="394" alt="Monosnap HTML input tag 2022-07-28 04-38-08" src="https://user-images.githubusercontent.com/72425188/181377170-8b9c3203-4337-4674-8184-cefc0471e910.png">